<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/dash.css">
    <title>Dash Board</title>
</head>
<body >
    <Nav id="DashNav"> <h3 id="D_H">DashBoard</h3></Nav>
    <div id="Dash">
   
    <div id="Div1">
       <form id="Reg">
        <h1 id="H1">Seller Save Personal Information</h1>
        &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;   Proudct_Name : <input type="text" id="email" placeholder="Enter Product"> 
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; 
         Address : <input type="text" id="email" placeholder="Enter Address"> 
       </br>  </br>  
         &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;   GST : <input type="number" id="email" placeholder="Enter Product GST"> 
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 
         Proudct_Logo : <input type="text" id="email" placeholder="Enter Logo"> 
        </br>  </br>  
         &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;   Proudct_MRP : <input type="number" id="email" placeholder="Enter Product MRP"> 
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
         Proudct_SP : <input type="number" id="email" placeholder="Enter Product SP"> 
        </br>  </br>  
         &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;   Proudct_Name : <input type="text" id="email" placeholder="Enter Product"> 
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
         Proudct_QTY : <input type="number" id="email" placeholder="Enter Product QTY"> 
        </br>  </br>    
         <button id="Btn">Click Here </button>
       </form>
    </div>
    <div id="Div2"> 
    <img id="G_I" src="https://media.giphy.com/media/0ELKQyqpSYMpN2t4iV/giphy.gif" alt="Example GIF">
    </div>
    </div>
    
</body>
</html>