<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="/home.css">
  <title>My Web Page</title>
 
 
</head>
<body>

  
    <div id="D1">
      <nav id="Na" >
        <h1 id="Head">Seller Hub </h1>
        <h1 id="Head1">About </h1>
        <h1 id="Head2">Help</h1>

         </nav>
      <div id="D2">
     <div id="Frm">
        <form id="F1" action="/create-session" method="POST">
          <h1 id="Seller">Login Your Seller Account</h1>
          <label for="name">Name:  </label> </br>
         <input type="text" name="name" placeholder="Enter Your Name"> </br></br>
         <label for="name">Email:  </label> </br>
         <input type="email" name="email" placeholder="Enter Your Email">
        </br></br>
         <label for="name">Password: </label> </br>
         <input type="password" name="pass" placeholder="Enter Your Password"></br></br>
     <button>Login </button>
    
           </form>
           <h1 id="New">If you are new user ➡️ <a href="http://localhost:8000/user/Registationpage">Visit Here</a></h1>
          </div>
  
      </div>

    </div>
    
 
</body>
</html>
