<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="/home.css">
  <title>My Web Page</title>
 
 
</head>
<body>

  <h1 id="demo1">Welcome to My Page  <a id="Back" href="http://localhost:8000">🔙 Back</a></h1>
 

    <div id="Reg">

    <form id="F1" action="/user/create" method="POST">
      <h1 id="Seller">Plz Enter Your Infomation</h1>
      <label for="name">Name:  </label> </br>
     <input type="text" name="name" placeholder="Enter Your Name"> </br></br>
     <label for="name">Email:  </label> </br>
     <input type="email" name="email" placeholder="Enter Your Email">
    </br></br>
    <label for="name">Mobile_No:  </label> </br>
    <input type="number" name="mobile" placeholder="Enter Your Mobile_No">
   </br></br>
   <label for="name">Address: </label> </br>
   <input type="text" name="address" placeholder="Enter Your Address">

  </br></br>
     <label for="name">Password:  </label> </br>
  
     <input type="password" name="password" placeholder="Enter Your Password"> </br></br>
     <label for="name">Confirm_Password:  </label> </br>
     <input type="password" name="confirm_password" placeholder="Confirm Password" required> </br></br>
     <input type="submit" value="Sign Up">

       </form>
    </div>
    
 
</body>
</html>
